body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    max-width: 1440px;
    Margin: 0 auto;
}

header {
    padding: 30px;
}

main {
    display: flex;

}

.texto {
    display: flex;
    flex-direction: column;
    max-width: 564px;
}

h1 {
    color: #fff;
    font-weight: 500;
    padding: 50px;
}

h2 {
    color: #fff;
    font-weight: 200;
    padding-left: 50px;
    padding-top: 0px;
}

.botao {
    padding-left: 50px;
    padding-top: 35px;
}

.botao-link {
    display: inline-block;
    padding: 10px 60px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50px;
    border: none;
    max-width: 200px;
}

ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

li {
    padding-top: 50px;
}

i:hover {
    color: hsl(300, 69%, 71%);
}

footer {
    text-align: right;
}

a {
    padding: 20px;
}

.botao-link:hover {
    background-color: hsl(300, 69%, 71%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

a:hover {
    color: #fff;
}

.insta {
    padding-right: 80px;
}

